{% extends 'resources/base.html' %}

{% block content %}
    <h2 style="text-align:center;">Consulta de Clientes</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Placa</th>
                <th>Nome</th>
                <th>E-mail Primário</th>
                <th>E-mail</th>
                <th>Telefone Principal</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in page %}
                <tr id="cliente-{{ cliente.id }}">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.placa_carro }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.email_contato_1 }}</td>
                    <td>
                        {% if cliente.email_contato_2 %}
                            {{ cliente.email_contato_2 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ cliente.telefone_contato_1 }}</td>
                    <td>
                        {% if cliente.telefone_contato_2 %}
                            {{ cliente.telefone_contato_2 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <button href="" class="btn btn-disabled" disabled>
                            <i class="fas fa-edit"></i> Editar
                        </button>
                        <button class="btn btn-delete" onclick="confirmDeleteCustomer({{ cliente.id }})">
                            <i class="fas fa-trash-alt"></i> Excluir
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Anterior</a>
        {% endif %}

        {% for num in page.paginator.page_range %}
            {% if page.number == num %}
                <a class="active">{{ num }}</a>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Próxima</a>
        {% endif %}
    </div>

    <!-- Modal de Confirmação de Exclusão -->
    <div id="modelConfirm" class="modal">
        <div class="modal-content">
            <p id="modelConfirmMessage">Tem certeza que deseja excluir este cliente?</p>
            <button onclick="deleteCustomer()">Sim</button>
            <button onclick="closeModal()">Não</button>
        </div>
    </div>

    <div id="modelAlert" class="modal">
        <div class="modal-content">
            <p id="modelAlertMessage"></p>
            <button onclick="closeAlertModal()">OK</button>
        </div>
    </div>

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/customer/manager_customer.css' %}">

    <!-- Scripts do FullCalendar -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js"></script>
    <!-- Script personalizado -->
    <script src="{% static '/js/customer/manager_customer.js' %}"></script>
{% endblock %}