<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão - Lava Jato XPTO</title>
    <!-- Carregar arquivos estáticos do Django -->
    {% load static %}
    <!-- Referência ao arquivo CSS -->
    <link rel="stylesheet" href="{% static '/css/public_base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Script para o dropdown -->
    <script src="{% static '/js/public_base.js' %}"></script>
</head>

<body>

    <body>
        <!-- Banner -->
        <div class="banner">
            <h2>Bem-vindo ao Lava Jato!</h2>
        </div>

        <div id="public_template_content" style="display:none">
            {% block public_content %}
            {% endblock %}
        </div>
    
        <!-- Footer -->
        <div class="footer">
            &copy; 2023 Meu Site. Todos os direitos reservados.
        </div>
    </body>

    <script>
        window.onload = function() {
            // Após o carregamento do CSS e JS, exibe o conteúdo
            document.getElementById('public_template_content').style.display = 'block';


            // Forçar o reflow/recálculo de layout
            const content = document.getElementById('public_template_content');
            content.offsetHeight; // Acessar a propriedade faz o reflow

            // Agora, pode forçar um "refresh" ou renderizar novamente
            setTimeout(function() {
                // Forçar o redimensionamento da página
                window.dispatchEvent(new Event('resize'));
            }, 0);
        }
    </script>
</body>