<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão - Lava Jato XPTO</title>
    <!-- Carregar arquivos estáticos do Django -->
    {% load static %}
    <!-- Referência ao arquivo CSS -->
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Script para o dropdown -->
    <script src="{% static '/js/base.js' %}"></script>
</head>

<body>
    <div class="navbar">
        <a href="{% url 'dashboard' %}">Principal</a>
        <div class="subnav">
            <button class="subnavbtn">Consulta <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'manager_customer' %}">Consultar Clientes</a>
                <a href="{% url 'manager_scheduling' %}">Consultar Agendamentos</a>
                <a href="{% url 'manager_service' %}">Consultar Serviços</a>
                <a href="{% url 'manager_type_service' %}">Consultar Tipo Serviço</a>
                <a href="{% url 'manager_type_vehicle' %}">Consultar Tipo Veículo</a>
            </div>
        </div> 
        <div class="subnav">
            <button class="subnavbtn">Cadastro <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <!--<a href="{% url 'register_customer' %}">Cadastrar Cliente</a>-->
                <a href="{% url 'register_scheduling' %}">Cadastrar Agendamento</a>
                <a href="{% url 'register_service' %}">Cadastrar Serviço</a>
                <a href="{% url 'register_type_service' %}">Cadastrar Tipo Serviço</a>
                <a href="{% url 'register_type_vehicle' %}">Cadastrar Tipo Veículo</a>
            </div>
        </div>
        <!--<div class="subnav">
            <button class="subnavbtn">Business Intelligence (BI) <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'bi_report' %}">Relatório dos Dados</a>
                <a href="{% url 'bi_analysis' %}">Análise dos Dados</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Site <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'site_edit' %}">Editar Site</a>
            </div>
        </div>-->
    </div>

    <div style="padding:0 16px">
        {% block content %}
        <!-- O conteúdo de cada página será renderizado aqui -->
        {% endblock %}
    </div>
</body>